<div class="container-fluid">
    <div class="card card-flush">
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
            <div class="card-title">
                <div class="d-flex align-items-center position-relative my-1">
                    <span class="svg-icon svg-icon-1 position-absolute ms-4">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                            <path
                                d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                fill="currentColor"></path>
                        </svg>
                    </span>
                    <input type="text" name="search" class="form-control form-control-solid w-250px ps-14"
                        placeholder="Search" [formControl]="search">
                </div>
            </div>
            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                <a class="btn btn-primary" [routerLink]="[customerSer.operationPage]">Add Customer</a>
            </div>
        </div>
        <div class="card-body pt-0">
            <ng-container *ngIf="(customerSer.list | filter: {name: search.value}) as filterData">
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive" *ngIf="filterData.length > 0; else noDataTemplate">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                            <thead style="text-align-last: center;">
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Code</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Is Active</th>
                                    <th>tools</th>
                                </tr>
                            </thead>
                            <tbody class="fw-semibold text-gray-600 text-center">
                                <tr *ngFor="let item of filterData | orderBy: 'name' ;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                    <td>{{item.code}}</td>
                                    <td>{{item.email}}</td>
                                    <td class="text-center">{{item.phone}}</td>
                                    <td  class="text-center"><i class="text-success fa fa-check-circle"*ngIf="item.isActive"></i></td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-light-danger me-2"
                                            tooltip="DeActive" *ngIf="item.isActive"
                                            (click)="customerSer.deactive(item.customerId)">
                                            <i class="fas fa-archive"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-light-primary me-2"
                                            tooltip="Active" *ngIf="!item.isActive"
                                            (click)="customerSer.deactive(item.customerId)">
                                            <i class="fas fa-archive"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-light-danger me-2 "
                                            tooltip="{{ 'Common.Delete' | translate }}"
                                            (click)="customerSer.swalDelete(item.customerId)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ng-template #noDataTemplate>
                        <div class="text-center">
                            <img class="mx-auto col-lg-6 col-10" src="assets/image/5.png"  />
                            <h1>NO DATA</h1>
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
</div>