/* You can add global styles to this file, and also import other style files */
// Mode
$mode: default;

// Initialize
@import './app/core/sass/init';

// Components
@import './app/core/sass/components/components';

@import "./app/core/sass/components/variables";
@import "./app/core/sass/components/forms/form-select";
@import "./app/core/sass/components/forms/form-control";
@import "./app/core/sass/components/forms/form-check";

// Layout
@import './app/core/sass/layout/layout';
@import './app/core/sass/layout/docs/layout';

// Arabic Font
@import './app/core/sass/fonts/arabic';

.w-50 {
  width: 50%;
}

.border-radius-0 {
  border-radius: 0;
}

.tooltip {
  font-family: inherit;
  position: absolute;
}
